<h1>Editing user_result_assignment</h1>

<% form_for(@user_result_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :result_id %><br />
    <%= f.text_field :result_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_result_assignment %> |
<%= link_to 'Back', user_result_assignments_path %>