<h1>New gp_data</h1>

<% form_for(@gp_data) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :grandprix_id %><br />
    <%= f.text_field :grandprix_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :accum %><br />
    <%= f.text_field :accum %>
  </p>
  <p>
    <%= f.label :particip1 %><br />
    <%= f.check_box :particip1 %>
  </p>
  <p>
    <%= f.label :particip2 %><br />
    <%= f.check_box :particip2 %>
  </p>
  <p>
    <%= f.label :particip3 %><br />
    <%= f.check_box :particip3 %>
  </p>
  <p>
    <%= f.label :particip4 %><br />
    <%= f.check_box :particip4 %>
  </p>
  <p>
    <%= f.label :particip5 %><br />
    <%= f.check_box :particip5 %>
  </p>
  <p>
    <%= f.label :particip6 %><br />
    <%= f.check_box :particip6 %>
  </p>
  <p>
    <%= f.label :particip7 %><br />
    <%= f.check_box :particip7 %>
  </p>
  <p>
    <%= f.label :particip8 %><br />
    <%= f.check_box :particip8 %>
  </p>
  <p>
    <%= f.label :particip9 %><br />
    <%= f.check_box :particip9 %>
  </p>
  <p>
    <%= f.label :particip10 %><br />
    <%= f.check_box :particip10 %>
  </p>
  <p>
    <%= f.label :particip11 %><br />
    <%= f.check_box :particip11 %>
  </p>
  <p>
    <%= f.label :particip12 %><br />
    <%= f.check_box :particip12 %>
  </p>
  <p>
    <%= f.label :particip13 %><br />
    <%= f.check_box :particip13 %>
  </p>
  <p>
    <%= f.label :particip14 %><br />
    <%= f.check_box :particip14 %>
  </p>
  <p>
    <%= f.label :particip15 %><br />
    <%= f.check_box :particip15 %>
  </p>
  <p>
    <%= f.label :particip16 %><br />
    <%= f.check_box :particip16 %>
  </p>
  <p>
    <%= f.label :particip17 %><br />
    <%= f.check_box :particip17 %>
  </p>
  <p>
    <%= f.label :particip18 %><br />
    <%= f.check_box :particip18 %>
  </p>
  <p>
    <%= f.label :particip19 %><br />
    <%= f.check_box :particip19 %>
  </p>
  <p>
    <%= f.label :particip20 %><br />
    <%= f.check_box :particip20 %>
  </p>
  <p>
    <%= f.label :particip21 %><br />
    <%= f.check_box :particip21 %>
  </p>
  <p>
    <%= f.label :particip22 %><br />
    <%= f.check_box :particip22 %>
  </p>
  <p>
    <%= f.label :particip23 %><br />
    <%= f.check_box :particip23 %>
  </p>
  <p>
    <%= f.label :particip24 %><br />
    <%= f.check_box :particip24 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', gp_datas_path %>