<p>
  <b>Grandprix:</b>
  <%=h @gp_data.grandprix_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @gp_data.name %>
</p>

<p>
  <b>Accum:</b>
  <%=h @gp_data.accum %>
</p>

<p>
  <b>Particip1:</b>
  <%=h @gp_data.particip1 %>
</p>

<p>
  <b>Particip2:</b>
  <%=h @gp_data.particip2 %>
</p>

<p>
  <b>Particip3:</b>
  <%=h @gp_data.particip3 %>
</p>

<p>
  <b>Particip4:</b>
  <%=h @gp_data.particip4 %>
</p>

<p>
  <b>Particip5:</b>
  <%=h @gp_data.particip5 %>
</p>

<p>
  <b>Particip6:</b>
  <%=h @gp_data.particip6 %>
</p>

<p>
  <b>Particip7:</b>
  <%=h @gp_data.particip7 %>
</p>

<p>
  <b>Particip8:</b>
  <%=h @gp_data.particip8 %>
</p>

<p>
  <b>Particip9:</b>
  <%=h @gp_data.particip9 %>
</p>

<p>
  <b>Particip10:</b>
  <%=h @gp_data.particip10 %>
</p>

<p>
  <b>Particip11:</b>
  <%=h @gp_data.particip11 %>
</p>

<p>
  <b>Particip12:</b>
  <%=h @gp_data.particip12 %>
</p>

<p>
  <b>Particip13:</b>
  <%=h @gp_data.particip13 %>
</p>

<p>
  <b>Particip14:</b>
  <%=h @gp_data.particip14 %>
</p>

<p>
  <b>Particip15:</b>
  <%=h @gp_data.particip15 %>
</p>

<p>
  <b>Particip16:</b>
  <%=h @gp_data.particip16 %>
</p>

<p>
  <b>Particip17:</b>
  <%=h @gp_data.particip17 %>
</p>

<p>
  <b>Particip18:</b>
  <%=h @gp_data.particip18 %>
</p>

<p>
  <b>Particip19:</b>
  <%=h @gp_data.particip19 %>
</p>

<p>
  <b>Particip20:</b>
  <%=h @gp_data.particip20 %>
</p>

<p>
  <b>Particip21:</b>
  <%=h @gp_data.particip21 %>
</p>

<p>
  <b>Particip22:</b>
  <%=h @gp_data.particip22 %>
</p>

<p>
  <b>Particip23:</b>
  <%=h @gp_data.particip23 %>
</p>

<p>
  <b>Particip24:</b>
  <%=h @gp_data.particip24 %>
</p>


<%= link_to 'Edit', edit_gp_data_path(@gp_data) %> |
<%= link_to 'Back', gp_datas_path %>