<h1>Editing stores_in_group</h1>

<% form_for(@stores_in_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :store_id %><br />
    <%= f.text_field :store_id %>
  </p>
  <p>
    <%= f.label :stroe_group_id %><br />
    <%= f.text_field :stroe_group_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @stores_in_group %> |
<%= link_to 'Back', stores_in_groups_path %>