<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%=h store.name %></td>
    <td><%=h store.description %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New store', new_store_path %>