<h1>Editing runevent</h1>

<% form_for(@runevent) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :run_id %><br />
    <%= f.text_field :run_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :default_amount %><br />
    <%= f.text_field :default_amount %>
  </p>
  <p>
    <%= f.label :default_amount_extra %><br />
    <%= f.text_field :default_amount_extra %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @runevent %> |
<%= link_to 'Back', runevents_path %>