<h1>New result</h1>

<% form_for(@result) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </p>
  <p>
    <%= f.label :cat %><br />
    <%= f.text_field :cat %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :edad %><br />
    <%= f.text_field :edad %>
  </p>
  <p>
    <%= f.label :clubcustom %><br />
    <%= f.text_field :clubcustom %>
  </p>
  <p>
    <%= f.label :time_in_seconds %><br />
    <%= f.text_field :time_in_seconds %>
  </p>
  <p>
    <%= f.label :time_chip_in_seconds %><br />
    <%= f.text_field :time_chip_in_seconds %>
  </p>
  <p>
    <%= f.label :rank_general %><br />
    <%= f.text_field :rank_general %>
  </p>
  <p>
    <%= f.label :rank_rama %><br />
    <%= f.text_field :rank_rama %>
  </p>
  <p>
    <%= f.label :rank_cat %><br />
    <%= f.text_field :rank_cat %>
  </p>
  <p>
    <%= f.label :paso_in_seconds %><br />
    <%= f.text_field :paso_in_seconds %>
  </p>
  <p>
    <%= f.label :run_id %><br />
    <%= f.text_field :run_id %>
  </p>
  <p>
    <%= f.label :part_1 %><br />
    <%= f.text_field :part_1 %>
  </p>
  <p>
    <%= f.label :part_2 %><br />
    <%= f.text_field :part_2 %>
  </p>
  <p>
    <%= f.label :part_3 %><br />
    <%= f.text_field :part_3 %>
  </p>
  <p>
    <%= f.label :part_4 %><br />
    <%= f.text_field :part_4 %>
  </p>
  <p>
    <%= f.label :part_5 %><br />
    <%= f.text_field :part_5 %>
  </p>
  <p>
    <%= f.label :part_6 %><br />
    <%= f.text_field :part_6 %>
  </p>
  <p>
    <%= f.label :part_7 %><br />
    <%= f.text_field :part_7 %>
  </p>
  <p>
    <%= f.label :part_8 %><br />
    <%= f.text_field :part_8 %>
  </p>
  <p>
    <%= f.label :part_9 %><br />
    <%= f.text_field :part_9 %>
  </p>
  <p>
    <%= f.label :part_10 %><br />
    <%= f.text_field :part_10 %>
  </p>
  <p>
    <%= f.label :pause_1 %><br />
    <%= f.text_field :pause_1 %>
  </p>
  <p>
    <%= f.label :pause_2 %><br />
    <%= f.text_field :pause_2 %>
  </p>
  <p>
    <%= f.label :pause_3 %><br />
    <%= f.text_field :pause_3 %>
  </p>
  <p>
    <%= f.label :pause_4 %><br />
    <%= f.text_field :pause_4 %>
  </p>
  <p>
    <%= f.label :pause_5 %><br />
    <%= f.text_field :pause_5 %>
  </p>
  <p>
    <%= f.label :pause_6 %><br />
    <%= f.text_field :pause_6 %>
  </p>
  <p>
    <%= f.label :pause_7 %><br />
    <%= f.text_field :pause_7 %>
  </p>
  <p>
    <%= f.label :pause_8 %><br />
    <%= f.text_field :pause_8 %>
  </p>
  <p>
    <%= f.label :pause_9 %><br />
    <%= f.text_field :pause_9 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', results_path %>