<h1>Listing camp_pics</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Name</th>
    <th>Campaign</th>
  </tr>

<% @camp_pics.each do |camp_pic| %>
  <tr>
    <td><%=h camp_pic.path %></td>
    <td><%=h camp_pic.name %></td>
    <td><%=h camp_pic.campaign_id %></td>
    <td><%= link_to 'Show', camp_pic %></td>
    <td><%= link_to 'Edit', edit_camp_pic_path(camp_pic) %></td>
    <td><%= link_to 'Destroy', camp_pic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New camp_pic', new_camp_pic_path %>