<h1>New grandprix</h1>

<% form_for(@grandprix) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :name1 %><br />
    <%= f.text_field :name1 %>
  </p>
  <p>
    <%= f.label :name2 %><br />
    <%= f.text_field :name2 %>
  </p>
  <p>
    <%= f.label :name3 %><br />
    <%= f.text_field :name3 %>
  </p>
  <p>
    <%= f.label :name4 %><br />
    <%= f.text_field :name4 %>
  </p>
  <p>
    <%= f.label :name5 %><br />
    <%= f.text_field :name5 %>
  </p>
  <p>
    <%= f.label :name6 %><br />
    <%= f.text_field :name6 %>
  </p>
  <p>
    <%= f.label :name7 %><br />
    <%= f.text_field :name7 %>
  </p>
  <p>
    <%= f.label :name8 %><br />
    <%= f.text_field :name8 %>
  </p>
  <p>
    <%= f.label :name9 %><br />
    <%= f.text_field :name9 %>
  </p>
  <p>
    <%= f.label :name10 %><br />
    <%= f.text_field :name10 %>
  </p>
  <p>
    <%= f.label :name11 %><br />
    <%= f.text_field :name11 %>
  </p>
  <p>
    <%= f.label :name12 %><br />
    <%= f.text_field :name12 %>
  </p>
  <p>
    <%= f.label :name13 %><br />
    <%= f.text_field :name13 %>
  </p>
  <p>
    <%= f.label :name14 %><br />
    <%= f.text_field :name14 %>
  </p>
  <p>
    <%= f.label :name15 %><br />
    <%= f.text_field :name15 %>
  </p>
  <p>
    <%= f.label :name16 %><br />
    <%= f.text_field :name16 %>
  </p>
  <p>
    <%= f.label :name17 %><br />
    <%= f.text_field :name17 %>
  </p>
  <p>
    <%= f.label :name18 %><br />
    <%= f.text_field :name18 %>
  </p>
  <p>
    <%= f.label :name19 %><br />
    <%= f.text_field :name19 %>
  </p>
  <p>
    <%= f.label :name20 %><br />
    <%= f.text_field :name20 %>
  </p>
  <p>
    <%= f.label :name21 %><br />
    <%= f.text_field :name21 %>
  </p>
  <p>
    <%= f.label :name22 %><br />
    <%= f.text_field :name22 %>
  </p>
  <p>
    <%= f.label :name23 %><br />
    <%= f.text_field :name23 %>
  </p>
  <p>
    <%= f.label :name24 %><br />
    <%= f.text_field :name24 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', grandprixes_path %>