<h1>New diploma_schema</h1>

<% form_for(@diploma_schema) do |f| %>
  <%= f.error_messages %>

  <p>
  	<% if params[:run_id] %>
		<% run = Run.find(params[:run_id]) %>
		<b><%=run.name%></b><br/>
	    
	    <%= f.hidden_field :run_id, :value => params[:run_id] %>
	<% else %>
		<% runs = Run.all %>
		<%= f.collection_select :run_id, runs, :id, :name%>
	<% end %>
  </p>
  <p>
    <%= f.label :size_x %><br />
    <%= f.text_field :size_x %>
  </p>
  <p>
    <%= f.label :size_y %><br />
    <%= f.text_field :size_y %>
  </p>
  <!--<p>
    <%= f.label :photopath %><br />
    <%= f.text_field :photopath %>
  </p>-->
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', diploma_schemas_path %>