<h1>Editing ins_store</h1>

<% form_for(@ins_store) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :store_id %><br />
    <%= f.text_field :store_id %>
  </p>
  <p>
    <%= f.label :run_id %><br />
    <%= f.text_field :run_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ins_store %> |
<%= link_to 'Back', ins_stores_path %>