<p>
  <b>Name:</b>
  <%=h @convocatoriaunit.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @convocatoriaunit.description %>
</p>

<p>
  <b>Ordernum:</b>
  <%=h @convocatoriaunit.ordernum %>
</p>

<p>
  <b>Run:</b>
  <%=h @convocatoriaunit.run_id %>
</p>


<%= link_to 'Edit', edit_convocatoriaunit_path(@convocatoriaunit) %> |
<%= link_to 'Back', convocatoriaunits_path %>