<p>
  <b>Name:</b>
  <%=h @run.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @run.description %>
</p>

<p>
  <b>Eventday:</b>
  <%=h @run.eventday %>
</p>

<p>
  <b>Lastregisterday:</b>
  <%=h @run.lastregisterday %>
</p>

<p>
  <b>Location:</b>
  <%=h @run.location %>
</p>

<p>
  <b>Distance:</b>
  <%=h @run.distance %>
</p>

<p>
  <b>Electronicservicequote:</b>
  <%=h @run.electronicservicequote %>
</p>

<p>
  <b>Showincarrusel:</b>
  <%=h @run.showincarrusel %>
</p>

<p>
  <b>Showresults:</b>
  <%=h @run.showresults %>
</p>

<p>
  <b>Fichastart:</b>
  <%=h @run.fichastart %>
</p>

<p>
  <b>Fichaend:</b>
  <%=h @run.fichaend %>
</p>

<p>
  <b>Inscriptionopen:</b>
  <%=h @run.inscriptionopen %>
</p>

<p>
  <b>Runtype:</b>
  <%=h @run.runtype_id %>
</p>

<p>
  <b>Flickrlink:</b>
  <%=h @run.flickrlink %>
</p>

<p>
  <b>Convocatoria:</b>
  <%=h @run.convocatoria %>
</p>

<p>
  <b>Descriptionadicional:</b>
  <%=h @run.descriptionadicional %>
</p>

<p>
  <b>Mainphoto:</b>
  <%=h @run.mainphoto %>
</p>

<p>
  <b>Diplomphoto:</b>
  <%=h @run.diplomphoto %>
</p>

<p>
  <b>Sponsoringphoto:</b>
  <%=h @run.sponsoringphoto %>
</p>

<p>
  <b>Mapphoto:</b>
  <%=h @run.mapphoto %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>