<h1>New friendrelation</h1>

<% form_for(@friendrelation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :inviter_id %><br />
    <%= f.text_field :inviter_id %>
  </p>
  <p>
    <%= f.label :other_id %><br />
    <%= f.text_field :other_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', friendrelations_path %>