<p>
  <b>Name:</b>
  <%=h @runtype.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @runtype.description %>
</p>

<p>
  <b>Parts:</b>
  <%=h @runtype.parts %>
</p>

<p>
  <b>Part name 1:</b>
  <%=h @runtype.part_name_1 %>
</p>

<p>
  <b>Part name 2:</b>
  <%=h @runtype.part_name_2 %>
</p>

<p>
  <b>Part name 3:</b>
  <%=h @runtype.part_name_3 %>
</p>

<p>
  <b>Part name 4:</b>
  <%=h @runtype.part_name_4 %>
</p>

<p>
  <b>Part name 5:</b>
  <%=h @runtype.part_name_5 %>
</p>

<p>
  <b>Part name 6:</b>
  <%=h @runtype.part_name_6 %>
</p>

<p>
  <b>Part name 7:</b>
  <%=h @runtype.part_name_7 %>
</p>

<p>
  <b>Part name 8:</b>
  <%=h @runtype.part_name_8 %>
</p>

<p>
  <b>Part name 9:</b>
  <%=h @runtype.part_name_9 %>
</p>

<p>
  <b>Part name 10:</b>
  <%=h @runtype.part_name_10 %>
</p>


<%= link_to 'Edit', edit_runtype_path(@runtype) %> |
<%= link_to 'Back', runtypes_path %>